body {
  font-family: "PT Sans", sans-serif;
  background-color: #fafafa;
  margin: 0;
  color: $color-black;
  line-height: 1.6;
  height: 100%;
}

/* Navigation */
.main-container {
  min-height: calc(100vh - 140px);
  margin-bottom: 30px;
}
.main-home {
  margin-top: 100px;
}
.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $color-white;
  align-items: center;
  justify-content: center;
}

li {
}

li a,
.dropbtn {
  display: inline-block;
  color: #333;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: $color-grey-primary;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba($color-black, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: $color-black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.container-row {
  width: 70%;
  margin: 0 auto;
}
/* table */
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  border-top: none;
}
.tab-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $color-grey-primary;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 16px;
}

th:first-child,
td:first-child {
  text-align: left;
}
thead {
  background-color: $color-grey-primary;
}
thead tr {
  cursor: pointer;
}
tr:hover {
  background-color: $color-grey-primary;
}
tr a:link,
tr a:visited {
  text-decoration: none;
  color: #158cba;
}
// table about

// .table-about {
//   font-size: 12px;
// }
// .table-about th,
// .table-about td {
//   padding: 12px 2px;
// }
.col-rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;

  &__col {
    padding: 10px;
    margin-bottom: 25px;

    &--1 {
    }
    &--2 {
    }
    &--3 {
    }
  }
}
.col-info {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;
  &__row {
    padding: 10px;
    margin: 5px;
    &--1 {
    }
    &--2 {
    }
    &--3 {
    }
    &--4 {
    }
  }
}

.setting {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
}
// pagination

.pager {
  height: 60px;
  cursor: pointer;
}
.pg-goto,
.pg-selected,
.pg-normal {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}
.pg-selected {
  background-color: #333;
  color: white;
  border: 1px solid #333;
}

//* Style the tab */
.tab,
.tab-2 {
  overflow: hidden;
  // border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
}

/* Style the buttons inside the tab */
.tab button,
.tab-2 button {
  width: 50%;
  margin: 0 auto;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab .current {
  background-color: #ccc;
}
/* Change background color of buttons on hover */
.tab button:hover,
.tab-2 button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active,
.tab-2 button.active {
  background-color: #ccc;
}
.tab-2 button .currentColor {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent,
.tabcontent-2 {
  display: none;
  border-top: none;
}
.tab-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.current {
  display: block;
}
#current {
  background: #ccc;
}
